<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/appstyle.css' %}" />
    <title>Error Page</title>
  </head>
  <body>

    <main class="error-page-content">

        <div class="error-page-main-header-con">
            <p class="error-page-main-header-txt">Error</p>
        </div>
    
        <div class="error-page-main-body-con">
            <div class="error-page-main-body-main-con">
                <div class="error-page-main-body-error-txt-con">
                    <span class="error-page-main-body-error-main-txt">Error</span>
                    <span class="error-page-main-body-error-main-exclamation-con">!!!</span>
                </div>
    
                <div class="error-page-main-body-f-com-con">
                    <p class="error-page-main-body-f-com-con-txt">Call <span class="error-page-number">07081105422</span> to lay a complaint.</p>
                </div>
            </div>
        </div>

    </main>

  </body>
</html>
