<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/appstyle.css' %}" />
    <title>Sub Distributors</title>
  </head>
  <body>
    <div class="subs-main-page">
      <h3>Choose Sub-distrubutor</h3>

      {% for subDistributor in subDistributors %}
      <div class="subs-main-item">
        <a href="subs/{{ subDistributor.name }}">{{ subDistributor.name }}</a>
      </div>
      {% endfor %}

    </div>
  </body>
</html>